
<div layout="column" class="padding-16">
  <h1 translate="translate" class="md-title margin-bottom-5">Verificación Mecánica</h1>
  <div class="layout-padding-bottom-5">
    <div layout="row">
      <div translate="translate" class="md-body-2">Motor y caja</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.motorAndTransmission" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Carrocería</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.body" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Tren delantero</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.driveTrain" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Neumáticos</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.tires" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Interior</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.interior" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Scaneo</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.scanning" show-empty="true"></yv-stars-input>
    </div>
    <div layout="row">
      <div translate="translate" class="md-body-2">Prueba de manejo</div><span flex="flex"></span>
      <yv-stars-input ng-model="car.clinicExam.driveTest" show-empty="true"></yv-stars-input>
    </div>
  </div>
</div>