
<md-content block="yv-car-listing-type-preselector" layout-fill="layout-fill" layout="column" layout-align="center stretch">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>¿Cómo vendo mi auto?</h2>
    </div>
  </md-toolbar>
  <md-list flex="flex">
    <md-list-item>
      <yv-car-listing-type-preselector-item type="CarListing::FullServicePlus" title="FullServicePlus" subtitle="Venta garantizada" desc="El Ángel está con vos"></yv-car-listing-type-preselector-item>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <yv-car-listing-type-preselector-item type="CarListing::FullService" title="FullService" subtitle="El Ángel está con vos" desc="Atendemos tus llamados"></yv-car-listing-type-preselector-item>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <yv-car-listing-type-preselector-item type="CarListing::Classic" title="Classic" subtitle="Aviso gratis" desc="Vendé tu auto mas rápido con crédito"></yv-car-listing-type-preselector-item>
    </md-list-item>
  </md-list>
</md-content>