
<md-card block="yv-call-to-action" layout="row" layout-align="center center" ng-click="$ctrl.callOnClick()"><img flex="50" flex-lg="20" ng-src="{{:: $ctrl.locale.img }}" class="padding-15"/>
  <div flex="50" flex-lg="30">
    <div ng-bind=":: $ctrl.locale.title" class="md-title text-transform-uppercase"></div>
    <md-divider></md-divider>
    <p ng-bind=":: $ctrl.locale.desc"></p><span flex="flex"></span>
    <md-button ng-bind=":: $ctrl.locale.buttonText" class="md-primary md-raised margin-0"></md-button>
  </div>
</md-card>