
<div block="yv-home">
  <div elem="main-page" layout="column" layout-fill="layout-fill" layout-align="stretch center">
    <h1 class="md-display-1 text-align-center">Autos de<br/>dueño a dueño</h1>
    <div flex="flex" elem="image" layout="row" layout-align="center center"><img src="https://www.placehold.it/300x300"/></div>
    <div layout="row">
      <md-button flex="flex" ui-sref="carListings.typePreselector" class="md-raised md-primary">Vender un Auto</md-button>
      <md-button flex="flex" ui-sref="carListings.index" class="md-raised md-accent">Ver Autos</md-button>
    </div>
  </div>
</div>